<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UserSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <UserSettings configSource="PyAddinUser.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings file="PyAddinCentral.config">
    <add key="LocalHelp" value="C:\temp\LocalHelp.htm" />
    <add key="PyLib1" value="C:\Users\rolan\anaconda3\python38.dll" />
    <add key="PyVenv1" value="C:\Users\rolan\anaconda3;C:\Users\rolan\anaconda3\bin;C:\Users\rolan\anaconda3\Scripts;C:\Users\rolan\anaconda3\Library\bin;C:\Users\rolan\anaconda3\Library\usr\bin;C:\Users\rolan\anaconda3\Library\mingw-w64\bin" />
    <add key="FSuffix1" value=".py" />
    <add key="EnvironVarName1" value="PythonLIB" />
    <add key="EnvironVarValue1" value="C:\Users\rolan\specialLib" />
    <add key="presetSheetButtonsCount" value="24" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="ExcelDna.Integration" switchValue="All">
        <listeners>
          <remove name="System.Diagnostics.DefaultTraceListener" />
          <add name="LogDisplay" type="ExcelDna.Logging.LogDisplayTraceListener,ExcelDna.Integration">
            <!-- EventTypeFilter takes a SourceLevel as the initializeData: 
                    Off, Critical, Error, Warning (default), Information, Verbose, All -->
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>